header{
	background-color: red;
}

footer{
	position: relative;
	background-color: #272727;
	color : white;

}

.btn1 {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px;
  background: #725752;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn1:hover {
  background: #878E88;
  text-decoration: none;
}



.sidebar{
	background-color: black;
	color : white;
	width: 100%;
	height: 10vw;
}

.sidebar h4{
	color : white;
	font-size: 20px;
	text-align: center;
}

.sidebar a{
	color : white;

}

body{
	background-color: #546D64;
	padding-top: 70px;
	padding-bottom: 70px

}

.form_connexion{
	width: 100%;
}

.form_inscription{
	width: 100%;
}

.empty_cart{
	margin: 15vw;
	margin-top: 10vh;
	background-color: #eaeaea;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.full_cart{
	margin: 5vw;
	margin-top: 5vh;
	background-color: #eaeaea;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	text-align: center;
}

.admin_home{
	margin: 15vw;
	margin-top: 10vh;
	background-color: #eaeaea;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.index_home{
	margin: 15vw;
	margin-top: 10vh;
	background-color: #eaeaea;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	font-size: 15px;
	text-align: center;
}

.promotion_couleur{
	color: red;
	font-weight: bold;
}

.prix_barre{
	text-decoration: line-through;
}

a{
	color: #725752;
	font-weight: bold;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}

.produit-box{
	margin-left: 10vw;
	margin-right: 10vw;
	padding: 3vw;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	margin-bottom: 15vh;
}

.thumbnail{

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;

}

.formulaire_admin_index{
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 10vh;
	background-color: #eaeaea;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;

}
